<!DOCTYPE html>
<html lang="pt-br">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/header.ejs') %> 
    <div class="row" id="aside-main">
        <%- include('./partials/aside.ejs') %>
        <main class="col-5">
            <div class="row" id="images">
                <% produto.forEach(produto => { %>
                    <div class="card" style="width: 18rem;">
                        <img src="/img/pizza.jpg" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title"><%= produto.nm_produto %></h5>
                            <p class="card-text"><%= produto.ds_produto %></p>
                            <a href="/produto/<%= produto.id %>" class="btn btn-primary">Visualizar</a>
                        </div>
                    </div>
                <% }); %>
            </div>
        </main>
    </div>
<%- include('./partials/footer.ejs') %> 
</body>
</html>